<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<body>
<form action="#"  th:action="@{/register}" th:object="${userModel}" method="POST" >
    <h2>Login</h2>
    <div class="input-box">
        <i class="fa fa-user" aria-hidden="true"></i>
        <input type="text" th:field="*{login}" placeholder="Login"><br>
        <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Text Error</span>
    </div>

    <div class="input-box">
        <i class="fa fa-user" aria-hidden="true" ></i>
        <input type="email" th:field="*{email}"  placeholder="Email"><br>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Text Error</span>
    </div>


    <div class="input-box">
        <i class="fa fa-user" aria-hidden="true" ></i>
        <input type="password" th:field="*{password}" placeholder="Password"><br>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Text Error</span>
    </div>

    <div class="input-box">
        <input type="submit" name="sign-in" value="Register">
    </div>

<a href="/static">Navigate to main</a>

</form>
</body>
</html>